<div class="card-content">
  <figure>
    <img class="img-fluid rounded" [src]="empresa.imagen">
  </figure>
  <p id="localidad">{{ empresa.ubicacion.localidad }} - ({{ empresa.ubicacion.provincia }})</p>
  <h5 id="nombre">{{ empresa.nombre }}</h5>
  <div class="inline">
    <i class="bi bi-geo-alt"></i>
    <p>{{ empresa.ubicacion.direccion }}</p>
  </div>
  <div class="inline">
    <i class="bi bi-person"></i>
    <p>{{ empresa.vacantes }} {{empresa.vacantes == 1 ? "puesto vacante" : "puestos vacantes"}}</p>
  </div>
  <div class="inline">
    <i class="bi bi-telephone"></i>
    <p><a href="{{ empresa.telefono }}">Teléfono de contacto</a></p>
  </div>
  <div class="inline">
    <i class="bi bi-envelope"></i>
    <p><a href="{{ empresa.email }}">Correo electrónico</a></p>
  </div>
  <div class="inline">
    <i class="bi bi-clock-history"></i>
    <p>De {{empresa.horario.inicio }} a {{empresa.horario.fin }}</p>
  </div>
  <div class="d-flex justify-content-center">
    <button type="button" [routerLink]="['/empresas/search', empresa.id]" class="boton btn-empresa">
      Ver Más
    </button>
  </div>
</div>

