.empresas-container {
  height: auto;
  display: flex;
}

.filtros {
  width: 20%;
  height: calc(100vh - 94px);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cuerpo {
  height: calc(100vh - 94px);
  width: 80%;
  overflow-y: scroll;
  padding-bottom: 20px;
}

@media (max-width: 1000px) {
  .empresas-container {
    display: flex;
    flex-direction: column;
  }

  .filtros {
    width: 100%;
    height: auto;
  }

  .cuerpo {
    width: 100%;
    overflow-y: visible;
  }
}
