.empresas-container {
  height: auto;
  display: flex;
}

.filtros {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cuerpo {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 20px;
}
