<header class="container-fluid d-flex justify-content-end p-4">
    <nav>
        <button class="mx-2 secondary-btn">
            <i class="bi bi-circle"></i>
        </button>
        <button class="mx-2 secondary-btn" (click)="onLoginClick()">
            <i class="bi bi-person-circle"></i>
            <span class="ms-2">Iniciar sesión</span>
        </button>
        <button class="mx-2 main-btn">
            <i class="bi bi-star"></i>
            <span class="ms-2">Añadir empresa</span>
        </button>
    </nav>
</header>
