<nav class="d-flex justify-content-end navbar navbar-expand-lg bg-body-tertiary p-4" id="navbar">
  <button class="mx-2 secondary-btn navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbar-ul">
      <li class="nav-item my-3 mx-2">
        <button class="secondary-btn w-100" matTooltip="Panel de administrador" (click)="navigate('/panel')">
          <i class="bi bi-key"></i>
        </button>
      </li>
      <li class="nav-item my-3 mx-2">
        <button class="secondary-btn w-100" matTooltip="Empresas" (click)="navigate('/empresas')">
            <i class="bi bi-building"></i>
        </button>
      </li>
      <li class="nav-item my-3 mx-2">
        <button class="secondary-btn w-100" (click)="navigate('/login')">
            <i class="bi bi-person-circle"></i>
            <span class="ms-2">Iniciar sesión</span>
        </button>
      </li>
      <li class="nav-item my-3 mx-2">
        <button class="main-btn w-100">
            <i class="bi bi-star"></i>
            <span class="ms-2">Añadir empresa</span>
        </button>
      </li>
    </ul>
  </div>
</nav>
