<!DOCTYPE html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-Gn5384xq17/2..."></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link rel="stylesheet" src="resena.component.css">
    </head>
    <body>
        <div class="container-fluid col-12">
            <div class="row vh-100">
                <div class="container-fluid col-12 mt-4 mt-lg-0 col-lg-3 custom-border-end ms-2">
                    <div class="row justify-content-center">
                        <div class="col-12 mt-5 d-none d-lg-inline">
                            <img class="img-fluid" src="https://picsum.photos/300/200">
                        </div>
                        <div class="col-12 mt-3 d-none d-lg-inline">
                            <small>Benidorm - (Alicante)</small>
                        </div>
                        <div class="col-12 m-0 ms-lg-2 p-0 p-lg-2">
                            <h6>Pixel78 - Estudio Creativo</h6>
                        </div>
                        <div class="col-12 d-none d-lg-inline">
                            <small>Programación web, Diseño gráfico, RRSS, Comercio electrónico</small>
                        </div>
                        <div class="container col-12 d-none d-lg-inline">
                            <div class="row">
                                <div class="container col-2 mt-4">
                                    <div class="row">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16" style="min-width: 16px;">
                                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="container col-10">
                                    <div class="row">
                                        <div class="col-12">
                                            <small>Benidorm - (Alicante)</small>
                                        </div>
                                        <div class="col-12">
                                            <p>Maravall 1, local 5</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container col-12 d-none d-lg-inline">
                            <div class="row">
                                <div class="container col-2 mt-4">
                                    <div class="row">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                            <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z"/>
                                            <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="container col-5">
                                    <div class="row">
                                        <div class="col-12">
                                            <small>De</small>
                                        </div>
                                        <div class="col-12">
                                            <p>9:30h -13:30h</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="container col-5">
                                    <div class="row">
                                        <div class="col-12">
                                            <small>To</small>
                                        </div>
                                        <div class="col-12">
                                            <p>15:00 - 19:00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- --------------------------------------------------------------------- -->
                <div class="container col-12 col-lg-8 offset-1 mt-5 ms-2">
                    <div class="row">
                        <div class="col-12">
                            <p>VALORA TU EXPERIENCIA</p>
                        </div>
                        <form novalidate [formGroup]="form">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry</p>
                                    </div>
                                    <div class="col-lg-3 offset-lg-3">
                                        <div class="stars">
                                            <label class=star for=rating1>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path fill="#fe0" stroke="#605a00" stroke-width="15" 
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating1 type=radio value=1 name=rating1 (change)="getRating($event)" formControlName="rating1" />
                                                
                                            <label class=star for=rating2>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path stroke="#605a00" stroke-width="15"
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating2 type=radio value=2 name=rating1 (change)="getRating($event)" formControlName="rating1" />
                                                
                                            <label class=star for=rating3>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path stroke="#605a00" stroke-width="15"
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating3 type=radio value=3 name=rating1 (change)="getRating($event)" formControlName="rating1" />
                                                
                                            <label class=star for=rating4>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path stroke="#605a00" stroke-width="15"
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating4 type=radio value=4 name=rating1 (change)="getRating($event)" formControlName="rating1" />
                                                
                                            <label class=star for=rating5>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path stroke="#605a00" stroke-width="15"
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating5 type=radio value=5 name=rating1 (change)="getRating($event)" formControlName="rating1" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry</p>
                                    </div>
                                    <div class="col-lg-3 offset-lg-3">
                                        <div class="stars">
                                            <label class=star for=rating1>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path fill="#fe0" stroke="#605a00" stroke-width="15" 
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating1 type=radio value=1 name=rating2 (change)="getRating($event)" formControlName="rating2" />
                                                    
                                            <label class=star for=rating2>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path stroke="#605a00" stroke-width="15"
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating2 type=radio value=2 name=rating2 (change)="getRating($event)" formControlName="rating2" />
                                                    
                                            <label class=star for=rating3>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path stroke="#605a00" stroke-width="15"
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating3 type=radio value=3 name=rating2 (change)="getRating($event)" formControlName="rating2" />
                                                    
                                            <label class=star for=rating4>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path stroke="#605a00" stroke-width="15"
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating4 type=radio value=4 name=rating2 (change)="getRating($event)" formControlName="rating2" />
                                                    
                                            <label class=star for=rating5>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path stroke="#605a00" stroke-width="15"
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating5 type=radio value=5 name=rating2 (change)="getRating($event)" formControlName="rating2" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry</p>
                                    </div>
                                    <div class="col-lg-3 offset-lg-3">
                                        <div class="stars">
                                            <label class=star for=rating1>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path fill="#fe0" stroke="#605a00" stroke-width="15" 
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating1 type=radio value=1 name=rating3 (change)="getRating($event)" />
                                                
                                            <label class=star for=rating2>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path stroke="#605a00" stroke-width="15"
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating2 type=radio value=2 name=rating3 (change)="getRating($event)" />
                                                
                                            <label class=star for=rating3>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path stroke="#605a00" stroke-width="15"
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating3 type=radio value=3 name=rating3 (change)="getRating($event)" />
                                                
                                            <label class=star for=rating4>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path stroke="#605a00" stroke-width="15"
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating4 type=radio value=4 name=rating3 (change)="getRating($event)" />
                                                
                                            <label class=star for=rating5>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path stroke="#605a00" stroke-width="15"
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating5 type=radio value=5 name=rating3 (change)="getRating($event)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry</p>
                                    </div>
                                    <div class="col-lg-3 offset-lg-3">
                                        <div class="stars">
                                            <label class=star for=rating1>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path fill="#fe0" stroke="#605a00" stroke-width="15" 
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating1 type=radio value=1 name=rating4 (change)="getRating($event)" />
                                                
                                            <label class=star for=rating2>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path stroke="#605a00" stroke-width="15"
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating2 type=radio value=2 name=rating4 (change)="getRating($event)" />
                                                
                                            <label class=star for=rating3>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path stroke="#605a00" stroke-width="15"
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating3 type=radio value=3 name=rating4 (change)="getRating($event)" />
                                                
                                            <label class=star for=rating4>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path stroke="#605a00" stroke-width="15"
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating4 type=radio value=4 name=rating4 (change)="getRating($event)" />
                                                
                                            <label class=star for=rating5>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 275">
                                            <path stroke="#605a00" stroke-width="15"
                                            d="M150 25l29 86h90l-72 54 26 86-73-51-73 51 26-86-72-54h90z"/>
                                            </svg>
                                            </label>
                                            <input id=rating5 type=radio value=5 name=rating4 (change)="getRating($event)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </form>
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry</p>
                                </div>
                                <div class="col-12 border border-secondary w-100" style="height: 100px; border-radius: 10px;">
                                </div>
                            </div>
                        </div>
                        <div class="container mt-5">
                            <div class="row">
                                <div class="col-12 col-lg-3 offset-lg-9">
                                    <button class="gradient-button btn-block">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>