<section class="container-fluid p-4">
    <h3 class="h1">Añadir Centro</h3>
    <form [formGroup]="formulario" (ngSubmit)="submit($event)">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="mb-5">
                    <label for="nombre" class="mb-2 ms-1">Nombre del centro</label>
                    <input type="text" name="nombre" formControlName="nombre">
                </div>
                <div class="my-5">
                    <label for="email" class="mb-2 ms-1">Correo electrónico</label>
                    <input type="text" name="email" formControlName="email">
                </div>
                <div class="my-5">
                    <label for="direccion" class="mb-2 ms-1">Dirección</label>
                    <input type="text" name="direccion" formControlName="direccion">
                </div>
                <div class="my-5">
                    <label for="telefono" class="mb-2 ms-1">Teléfono</label>
                    <input type="text" name="telefono" formControlName="telefono">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-5">
                    <label for="password" class="mb-2 ms-1">Contraseña</label>
                    <input type="password" name="password" formControlName="password">
                </div>
                <div class="my-5">
                    <label for="provincia" class="mb-2 ms-1">Provincia</label>
                    <select name="provincia" formControlName="provincia">
                        <option value="Alicante">Alicante</option>
                        <option value="Alic">Alic</option>
                    </select>
                </div>
                <div class="my-5">
                    <label for="poblacion" class="mb-2 ms-1">Poblacion</label>
                    <select name="poblacion" formControlName="poblacion">
                        <option value="Benidorm">Benidorm</option>
                        <option value="Beni">Beni</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-5">
            <button type="submit" class="main-btn w-100" id="añadir-btn">
                <i class="bi bi-plus-circle"></i>
                <span class="ms-2">Añadir</span>
            </button>
        </div>
    </form>
</section>
