<div class="empresas-container container-fluid p-0">
  <div class="empresa-details">
    <p>{{empresa | json}}</p>
  </div>
</div>

<!--<section class="col-10 p-5">
  <div class="row my-5" id="empresa-header">
    <div class="col-5 mx-3" id="foto-empresa"></div>
    <div class="col-6" id="empresa-info">
      <button class="main-btn" id="contact-btn">Contactar</button>
      <p class="mb-5">Benidorm - (Alicante)</p>
      <h2 class="h1 mt-5">Pixel78 - Estudio Creativo</h2>
      <p class="h4 fw-light mb-5">Programación web, Diseño gráfico, RRSS, Comercio electrónico</p>
      <div class="row my-4 my-5">
        <div class="col-3">
          <div class="row">
            <div class="col-2 my-auto">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt"
                  viewBox="0 0 16 16">
                  <path
                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                  <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
              </span>
            </div>
            <div class="col-10">
              <p class="info">Benidorm - (Alicante)</p>
              <p>Marvall 1, Local 5</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-2 my-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar4"
                viewBox="0 0 16 16">
                <path
                  d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z" />
              </svg>
            </div>
            <div class="col-10">
              <p class="info">De:</p>
              <p>9:30h - 13:30h</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <p class="info">To:</p>
          <p>15:00h - 19:00h</p>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-2 my-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person"
                viewBox="0 0 16 16">
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
              </svg>
            </div>
            <div class="col-10">
              <p class="info">Puestos disponibles</p>
              <p>2 puestos en 2021</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 d-flex justify-content-between me-5">
          <p class="fw-bolder">Calificación Profesor</p>
          <p>100%</p>
        </div>
        <div class="col-4 d-flex justify-content-between ms-5">
          <p class="fw-bolder">Calificación alumno</p>
          <p>100%</p>
        </div>
      </div>
    </div>
  </div>
  <div class="my-5">
    <div class="my-5">
      <h5>Programación web</h5>
      <p>-Programación con Java -Programación con JS</p>
    </div>
    <div class="my-5">
      <h5>Diseño web</h5>
      <p>Adobe XD Illustrator</p>
    </div>
  </div>
  <div class="my-5">
    <h5>Historial</h5>
    <div class="row">
      <div class="col-4">
        <p>Servicio</p>
      </div>
      <div class="col-2">
        <p>Año</p>
      </div>
      <div class="col-2">
        <p>Calificación</p>
      </div>
      <div class="col-2">
        <p>Calificación alumno</p>
      </div>
      <div class="col-2">
        <p>Alumnos</p>
      </div>
    </div>
  </div>
</section>-->
