<div class="empresa-container container-fluid">
  <div class="row">
    <div class="col-12 col-lg-7">
      <p id="localidad">{{ empresa.ubicacion.localidad }} - ({{ empresa.ubicacion.provincia }})</p>
      <h1 id="nombre" class="mb-3">{{ empresa.nombre }}  <b><small style="font-size: medium;"><a href="{{ empresa.email | email}}" style="color: orangered; text-decoration: none;">Contactar</a></small></b></h1>
      <div class="row">
        <div class="col-12 col-xl-4">
          <div class="ubicacion d-flex">
            <div class="logo p-2 d-flex align-center">
              <i class="bi bi-geo-alt"></i>
            </div>
            <div class="info">
              <p class="small m-0">{{ empresa.ubicacion.localidad }} - ({{ empresa.ubicacion.provincia }})</p>
              <p>{{ empresa.ubicacion.direccion }}</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4">
          <div class="direccion d-flex">
            <div class="logo p-3 d-flex align-center">
              <i class="bi bi-calendar-week"></i>
            </div>
            <div class="info">
              <p class="m-0">Horario</p>
              <p>{{empresa.horario.inicio}}h - {{empresa.horario.fin}}h</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4">
          <div class="direccion d-flex">
            <div class="logo p-3 d-flex align-center">
              <i class="bi bi-person"></i>
            </div>
            <div class="info">
              <p><span class="small">Puestos disponibles</span><br>{{ empresa.vacantes }} {{empresa.vacantes == 1 ?
                "puesto" : "puestos"}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="m-0"><b>Descripción: </b></p>
          <p>{{empresa.descripcion}}</p>
        </div>
      </div>
      <div class="d-flex w-100 flex-column mb-4">
        <label class="mb-1" style="margin-right: 20px;"><b>Calificación</b></label>
        <div class="progress mt-1" style="width: 500px;">
          <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="(empresa.nota / 5) * 100"
            [attr.aria-valuenow]="empresa.nota" aria-valuemin="0" aria-valuemax="5">
            <span>{{ empresa.nota }} / 5 ★</span>
          </div>
        </div>
      </div>
    </div>
    <figure class="col-12 col-lg-5">
      <img class="img-fluid rounded" [src]="empresa.imagen">
    </figure>
  </div>
</div>

<!--<div class="empresa-details">
  <p>{{empresa | json}}</p>
</div>-->
