<aside class="pt-5">
    <div class="w-100 d-flex justify-content-end">
        <button class="main-btn navbar-toggler d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#panel" aria-controls="panel" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
            <span class="ms-2">Abrir panel de administración</span>
        </button>
    </div>
        <div class="collapse navbar-collapse d-xl-block" id="panel">
            <p class="my-5" id="title">Panel</p>
            <div class="w-100 panel-option" routerLink="/panel/categorias">
                <div class="row">
                    <div class="col-9"><p class="">Categorías</p></div>
                    <div class="col-3"><i class="bi bi-grid"></i></div>
                </div>
            </div>
            <div class="w-100 panel-option" routerLinkActive="active" routerLink="/panel/empresas">
                <div class="row">
                    <div class="col-9"><p class>Empresas</p></div>
                    <div class="col-3"><i class="bi bi-building"></i></div>
                </div>
            </div>
            <div class="w-100 panel-option" routerLinkActive="active" routerLink="/panel/centros">
                <div class="row">
                    <div class="col-9"><p class="">Centros</p></div>
                    <div class="col-3"><i class="bi bi-book"></i></div>
                </div>
            </div>
            <div class="w-100 panel-option" routerLinkActive="active" routerLink="/panel/tutores">
                <div class="row">
                    <div class="col-9"><p class="">Tutores</p></div>
                    <div class="col-3"><i class="bi bi-people"></i></div>
                </div>
            </div>
        </div>
</aside>

