aside {
    padding: 10px;
    color: #333333;
    //height: calc(100vh - 94px);
}

.panel-option {
    padding: 30px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin: 20px 0;
    transition: background-color 300ms ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: #f0f0f0;
    }
}

.active {
    background-color: #e0e0e0;
    transition: background-color 300ms ease-in-out;
    &:hover {
        background-color: #d0d0d0;
    }
}
