.main-btn {
    border: 1px solid transparent;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(241, 39, 17, 1) 0%, rgba(240, 129, 22, 1) 66%);
    opacity: 0.8;
    padding: 10px;
    color: white;
    transition: opacity 300ms ease-in-out;
    &:hover {
        opacity: 1;
    }
}

#filtro {
    height: 100vh;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 100px;
    button {
        width: 90%;
        cursor: pointer;
    }
    select {
        width: 90%;
        outline: none;
        border: none;
        cursor: pointer;
        border-bottom: 1px solid black;
        padding: 10px 0;
    }
}