<aside class="p-5" id="filtro">
    <h2 class="my-5 h1">Buscar empresa</h2>
    <div id="filtro-opciones">
        <div class="mb-5">
            <label for="provincia">Provincia</label><br>
            <select name="provincia" id="select-provincia">
                <option value="">Alicante</option>
            </select>
        </div>
        <div class="mb-5">
            <label for="localidad">Localidad</label><br>
            <select name="localidad" id="select-localidad">
                <option value="">Benidorm</option>
            </select>
        </div>
        <div class="mb-5">
            <label for="categoria">Categoria</label><br>
            <select name="categoria" id="select-categoria">
                <option value="">Programación web</option>
            </select>
        </div>
        <div class="mb-5">
            <label for="serivicio">Serivicio</label><br>
            <select name="serivicio" id="select-serivicio">
                <option value="">Todos</option>
            </select>
        </div>
    </div>
    <button class="main-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
        <span class="ms-3">Buscar</span>
    </button>
</aside>
