/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.boton {
  width: 80%;
  height: 30px;
  background: linear-gradient(to right, #ee2200, #f49b06);
  border-radius: 5px;
  border: none;
  color: white;
}

.boton:hover {
  background: linear-gradient(to right, #ffab1a, #f49b06);
}



html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.main-btn {
  border: 1px solid transparent;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(241, 39, 17, 1) 0%, rgba(240, 129, 22, 1) 66%);
  opacity: 0.8;
  padding: 10px;
  color: white;
  transition: all 300ms ease-in-out;
  &:hover {
      opacity: 1;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.operations-icon {
  color: black;
  border-radius: 100%;
  padding: 5px;
  font-size: 20px;
  transition: background-color 200ms ease-in;
  &:hover {
      background-color: #ddd;
      cursor: pointer;
  }
}

.secondary-btn {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 10px;
  color: gray;
  opacity: 0.8;
  transition: opacity 300ms ease-in-out;
  &:hover {
    opacity: 1;
  }
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
