<section class="container-fluid p-4">
    <h3 class="h1 my-5">Editar Tutor ({{ tutor.name }})</h3>
    <form [formGroup]="editTutorForm" (ngSubmit)="submit($event)">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="mb-5">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" formControlName="nombre" [ngClass]="{'invalid': editTutorForm.get('nombre')?.invalid && (editTutorForm.get('nombre')?.dirty || editTutorForm.get('nombre')?.touched)}">
                    @if (editTutorForm.get('nombre')?.invalid && (editTutorForm.get('nombre')?.dirty || editTutorForm.get('nombre')?.touched)) {
                        <div class="position-absolute mt-2">
                            <span *ngIf="editTutorForm.get('nombre')?.errors?.['minlength']" class="text-danger">El nombre debe tener mínimo 5 caracteres</span>
                        </div>
                    }
                </div>
                <div class="mb-5">
                    <label for="dni">DNI</label>
                    <input type="text" name="dni" formControlName="dni">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-5">
                    <label for="email">Correo electrónico</label>
                    <input type="text" name="email" formControlName="email" [ngClass]="{'invalid': editTutorForm.get('email')?.invalid && (editTutorForm.get('email')?.dirty || editTutorForm.get('email')?.touched)}">
                    @if (editTutorForm.get('email')?.invalid && (editTutorForm.get('email')?.dirty || editTutorForm.get('email')?.touched)) {
                        <div class="position-absolute mt-2">
                            <span *ngIf="editTutorForm.get('email')?.errors?.['email']" class="text-danger">La dirección de correo no es válida</span>
                        </div>
                    }
                </div>
                <div class="mb-5">
                    <label for="login">Nombre de usuario</label>
                    <input type="text" name="login" formControlName="login">
                </div>
            </div>
        </div>
        <div class="mt-5">
            <button type="submit" class="main-btn w-100" id="añadir-btn" [disabled]="isDisabled">
                <i class="bi bi-pen"></i>
                <span class="ms-2">Editar</span>
            </button>
        </div>
    </form>
    <p>{{ editTutorForm.value| json }}</p>
</section>
